<div
  class="fixed inset-0 -z-20 bg-[repeating-linear-gradient(0deg,#fff,transparent_1px,transparent_30px),repeating-linear-gradient(90deg,#fff,transparent_1px,transparent_30px)] opacity-5"
>
</div>
