---
import Logo from "@/assets/Logo.astro";
---

<header
  class="sticky top-0 z-10 border-b flex justify-center w-full border-slate-900 bg-white/0 p-6 backdrop-blur"
>
  <div class="flex items-center justify-between max-w-7xl w-full">
    <Logo />

    <nav>
      <ul class="flex gap-4">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav>
  </div>
</header>
