---
import Section from "@/components/Section.astro";
import Card from "@/components/Card.astro";
---

<Section id="commonUse" class="hidden pt-16">
  <h2 class="px-6 text-xl text-slate-600">Lo más usado</h2>

  <div class="mt-6 grid w-full grid-cols-4 gap-6 px-6">
    <Card
      common
      id={""}
      title={""}
      width={0}
      height={0}
      tags={[]}
      class="hidden"
    />
    <Card
      common
      id={""}
      title={""}
      width={0}
      height={0}
      tags={[]}
      class="hidden"
    />
    <Card
      common
      id={""}
      title={""}
      width={0}
      height={0}
      tags={[]}
      class="hidden"
    />
  </div>
</Section>

<script>
  import { LOCAL_KEY } from "@/lib/consts";
  import { getUrl } from "@/lib/utils";

  function init_getCommonUse() {
    const section = document.querySelector("#commonUse");
    const cards = section?.querySelectorAll("div>article");
    const localCommonUse = localStorage.getItem(LOCAL_KEY);

    if (!section || !cards || !localCommonUse) return;

    const parsedLocalCommonUse = JSON.parse(localCommonUse);
    const top3 = parsedLocalCommonUse
      .sort((a: { count: number }, b: { count: number }) => b.count - a.count)
      .slice(0, 3);

    cards.forEach(async (card, i) => {
      const title = card.querySelector("h3") as HTMLHeadingElement;
      const size = card.querySelector("p") as HTMLParagraphElement;
      const cmyk = card.querySelector("a:first-of-type") as HTMLAnchorElement;
      const rgb = card.querySelector("a:last-of-type") as HTMLAnchorElement;
      const cardEl = card as HTMLElement;

      if (!top3[i]) return;

      cardEl.dataset.id = top3[i].id;
      cardEl.dataset.color = top3[i].color;
      title.textContent = top3[i].title;
      size.textContent = `${top3[i].width}x${top3[i].height}mm`;

      cmyk.dataset.id = top3[i].id;
      cmyk.dataset.tags = top3[i].tags;
      cmyk.dataset.title = top3[i].title;
      cmyk.dataset.width = top3[i].width;
      cmyk.dataset.height = top3[i].height;
      cmyk.href = getUrl({
        width: top3[i].width,
        height: top3[i].height,
        color: "cmyk",
      });

      rgb.dataset.id = top3[i].id;
      rgb.dataset.tags = top3[i].tags;
      rgb.dataset.title = top3[i].title;
      rgb.dataset.width = top3[i].width;
      rgb.dataset.height = top3[i].height;
      rgb.href = getUrl({
        width: top3[i].width,
        height: top3[i].height,
        color: "rgb",
      });

      card.classList.remove("hidden");
    });

    if (top3.length > 0) section.classList.remove("hidden");
  }

  init_getCommonUse();
  document.addEventListener("astro:after-swap", init_getCommonUse);
</script>
