---
import Section from "@/components/Section.astro";
import Card from "@/components/Card.astro";
import Download from "@/components/Download.astro";
import Printer from "@/assets/Printer.astro";
import Display from "@/assets/Display.astro";
import BusinessCard from "@/assets/BusinessCard.astro";

import { getCollection } from "astro:content";
import { getUrl } from "@/lib/utils";

const templates = await getCollection("templates");
---

<Section id="commonUse" class="hidden">
  <h2 class="px-6 text-xl text-slate-600">Usado recientemente</h2>

  <div class="mt-6 grid grid-cols-3 gap-6">
    {
      templates.map(({ data: { title, width, height } }) => (
        <Card title={title} width={width} height={height} />
      ))
    }
  </div>
</Section>

<script>
  function init_getCommonUse() {
    const section = document.querySelector("#commonUse");
    const localCommonUse = localStorage.getItem("commonUse");

    if (!section || !localCommonUse) return;

    section.classList.remove("hidden");
    console.log(localCommonUse);
  }

  init_getCommonUse();
  document.addEventListener("astro:after-swap", init_getCommonUse);
</script>
