<div class:list={["relative mb-4 aspect-[1.6] h-36", Astro.props.class]}>
  <div
    class="absolute left-4 top-4 flex size-full flex-col justify-end rounded border border-slate-900 bg-slate-800/50 p-4 shadow"
  >
  </div>
  <div
    class="flex size-full origin-left flex-col justify-end rounded border border-slate-900 bg-slate-800/50 p-4 shadow backdrop-blur transition-all group-hover:rotate-2 group-hover:scale-110"
  >
  </div>
</div>
