<div class:list={["relative mb-4 aspect-[1.6] h-36", Astro.props.class]}>
  <div
    class={`
      relative z-10
      flex size-full flex-col justify-end
      rounded border border-slate-900 bg-slate-800/50
      p-4 shadow origin-bottom-left duration-300
      transition-all group-hover:-rotate-12 group-hover:scale-110
      `}
  >
  </div>
  <div
    class={`
    absolute z-0 left-4 top-4
    flex size-full flex-col justify-end
    rounded border border-slate-900 bg-slate-800/50
    p-4 shadow origin-top-left duration-300
    transition-all group-hover:rotate-12 group-hover:scale-110
  `}
  >
  </div>
</div>
